<footer class="footer">

  <nav class="navbar navbar-expand-md navbar-dark fixed-bottom bg-dark">

    {{#if isAuthorized}}
      {{#if isAdmin}}
      <div class="container" style="justify-content: center;">
        <span class="text-white"><strong>private access</strong></span>
      </div>
      {{else}}
        <div class="container">

          <div class="mr-auto">
            <form action="/" method="get">
              <button class="btn btn-sm btn-secondary" style="min-width:150px;" type="submit" name="button">Bookshelf</button>
            </form>
          </div>

          <div class="ml-auto">
            <form action="/downloaded" method="get">
              <button class="btn btn-sm btn-secondary" style="min-width:150px;" type="submit" name="button">My library</button>
            </form>
          </div>
        </div>
        {{/if}}
    {{else}}
      <div class="container" style="justify-content: center;">
        <span class="text-white"><strong>librabok</strong></span>
      </div>
    {{/if}}

  </nav>
</footer>
