<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <div class="container">
      {{#if isAdmin}}

      {{else}}
        <div class="dropdown mr-auto">
          <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
            <form action="/" method="get">
              <button class="dropdown-item" type="submit" name="button">Home</button>
            </form>
            <form action="/about" method="get">
              <button class="dropdown-item" type="submit" name="button">About</button>
            </form>
            <form action="/projects" method="get">
              <button class="dropdown-item" type="submit" name="button">Projects</button>
            </form>
            <!-- <a class="dropdown-item" href="/">Home</a>
            <a class="dropdown-item" href="/about">About</a>
            <a class="dropdown-item" href="/projects">Projects</a> -->
          </div>
        </div>
      {{/if}}
      <!-- <div class="mr-auto">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">about</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">projects</a>
            </li>
          </ul>
        </div>
      </div> -->

      <div class="ml-auto">
        {{#if isAuthorized}}
          {{#if isAdmin}}
            <form action="/logout" method="get">
              <button class="btn btn-secondary" type="submit" name="button">Logout</button>
            </form>
          {{else}}
            <div class="dropdown">
              <button class="btn btn-secondary" type="button" id="dropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfile">
                <form action="/profile" method="get">
                  <button class="dropdown-item" type="submit" name="button">Profile</button>
                </form>
                <div class="dropdown-divider"></div>
                <form action="/logout" method="get">
                  <button class="dropdown-item" type="submit" name="button">Logout</button>
                </form>
              </div>
            </div>
          {{/if}}

        {{else}}
          <div class="row">
            <div class="col-6">
              <form action="/signIn" method="get">
                <button class="btn btn-secondary" type="submit" name="button">SignIn</button>
              </form>
            </div>

            <div class="col-6">
              <form action="/signUp" method="get">
                <button class="btn btn-secondary" type="submit" name="button">SignUp</button>
              </form>
            </div>
            <!-- <span style="padding-left:5px"></span> -->

          </div>
        {{/if}}
      </div>

    </div>

  </nav>

</header>
