<main role="main" class="flex-shrink-0">
  <div class="container">
    <p>{{book.title}}</p>
    <iframe frameborder="0" scrolling="no" style="border:0px; width:100%; height:400px" src="https://books.google.com.ua/books?id={{book.id}}&lpg=PP1&pg=PP1&output=embed"></iframe>

<!-- approved -->
   <!-- <iframe frameborder="0" scrolling="no" style="border:0px; width:100%; height:500px" src="https://books.google.com.ua/books?id=7QJDDwAAQBAJ&lpg=PP1&pg=PP1&output=embed"></iframe> -->

    <!-- <iframe src="http://play.google.com/books/reader?id=7QJDDwAAQBAJ&hl=&printsec=frontcover&source=gbs_api&output=embed" style="border:none;width:100%;height:500px;" allowfullscreen></iframe> -->
    <!-- <iframe src="{{bookUrl}}" style="width:100%; height:500px"></iframe> -->
    <!-- <embed src="{{bookUrl}}#toolbar=0&navpanes=0&statusbar=0&view=fitH,100" type="application/pdf" width="100%" height="500px" /> -->
    <!-- <iframe src="https://docs.google.com/document/d/1CNZpjNawkq7H8-0Od8-G6lri6ud7kS3hOGa6yqQCSag/edit?usp=sharing" style="width:600px; height:500px;" frameborder="0"></iframe> -->
  </div>
</main>
