<div class="container moar-margin">

  <div class="input-group">
    <input type="text" class="form-control" id="copy-buffer" value="{{book.downloadLink}}" readonly>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary copy-btn" data-clipboard-target="#copy-buffer">Copy</button>
    </div>
  </div>


  <p></p>
  <a class="btn btn-secondary" href="/">Return to main view</a>

</div>
