<main role="main" class="flex-shrink-0">
  <div class="container">
    <p>My portfolio</p>
<iframe src="https://e.issuu.com/anonymous-embed.html?u=s_oux&d=meinkampf" style="border:none;width:100%;height:500px;" allowfullscreen></iframe>
    <!-- <iframe src="{{bookUrl}}" style="width:100%; height:500px"></iframe> -->
    <!-- <embed src="{{bookUrl}}#toolbar=0&navpanes=0&statusbar=0&view=fitH,100" type="application/pdf" width="100%" height="500px" /> -->
    <!-- <iframe src="https://docs.google.com/document/d/1CNZpjNawkq7H8-0Od8-G6lri6ud7kS3hOGa6yqQCSag/edit?usp=sharing" style="width:600px; height:500px;" frameborder="0"></iframe> -->
  </div>
</main>
