<div class="text-center">
  <form class="form-signup" action="/signUp" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">

    <label for="inputUsername" class="sr-only">Username</label>
    <input name="username" id="inputUsername" class="form-control optional-first" placeholder="Username" required="" autofocus="">
    <label for="inputPhonenumber" class="sr-only">Phonenumber</label>
    <input name="phonenumber" id="inputPhonenumber" class="form-control optional" placeholder="Phone number" required="">
    <label for="inputCity" class="sr-only">City</label>
    <input name="city" id="inputCity" class="form-control optional" placeholder="City" required="" autofocus="">
    <label for="inputDepartment" class="sr-only">Department</label>
    <input name="department" id="inputDepartment" class="form-control optional-last" placeholder="Post department" required="">

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>

  </form>
</div>
