
/*****************globals*************/
body {
  margin-top: 65px;
  margin-bottom: 65px;
  overflow-x: hidden; }

.card {
  background: #eee;
  padding: 1em;
 }

 .custom-button {
   min-width: 135px;
   margin-bottom: 10px;
 }

 .btn-group {
   margin-bottom: 10px;
 }
